.submenu_2{
  width: 380px;
  height: 225px;
  // background: yellow;
  position: absolute;
  margin-top: 130px;
  margin-left: -1900px;
  transform: skewX(-55deg);
  transition: 1s;
  animation-duration: 1s;
  z-index: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  border-top: 5px solid red;
  @media screen and (max-width: 1440px){
    width: 285px;
  }
}



.submenu_22{
  animation-name: submenu_22 !important;
}
@keyframes submenu_22 {
  0%{
    margin-left: -0px;
  }
  100%{
  margin-left: 2100px;
  animation-delay: 3s !important;
  }
}

.menu_item:hover > .submenu_22{
  animation-name: submenu_21 !important;
  animation-fill-mode: forwards;
}

@keyframes submenu_21 {
  0%{
    margin-left: -500px;
  }

  100%{
  margin-left: 0px;
  }
}




// .submenu_33{
//   animation-name: submenu_33 !important;
// }
// @keyframes submenu_33 {
//   0%{
//     margin-left: -0px;
//   }
//   100%{
//   margin-left: 1700px;
//   }
// }
//
// .menu_item:hover > .submenu_33{
//   animation-name: submenu_23 !important;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
//
// @keyframes submenu_23 {
//   0%{
//     margin-left: -900px;
//   }
//
//   100%{
//   margin-left: 0px;
//   }
// }
//
//
//
//
//
//
//
// .submenu_44{
//   animation-name: submenu_44 !important;
// }
// @keyframes submenu_44 {
//   0%{
//     margin-left: -0px;
//   }
//   100%{
//   margin-left: 1300px;
//   }
// }
//
// .menu_item:hover > .submenu_44{
//   animation-name: submenu_24 !important;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
//
// @keyframes submenu_24 {
//   0%{
//     margin-left: -1250px;
//   }
//
//   100%{
//   margin-left: 0px;
//   }
// }
//
//
//
//
//
//
//
//
// .submenu_66{
//   animation-name: submenu_66 !important;
// }
// @keyframes submenu_66 {
//   0%{
//     margin-left: -0px;
//   }
//   100%{
//   margin-left: 550px;
//   }
// }
//
// .menu_item:hover > .submenu_66{
//   animation-name: submenu_26 !important;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
//
// @keyframes submenu_26 {
//   0%{
//     margin-left: -1950px;
//   }
//
//   100%{
//   margin-left: 0px;
//   }
// }
//
//
//
//
//
// .submenu_55{
//   animation-name: submenu_55 !important;
// }
// @keyframes submenu_55 {
//   0%{
//     margin-left: -0px;
//   }
//   100%{
//   margin-left: 1000px;
//   }
// }
//
// .menu_item:hover > .submenu_55{
//   animation-name: submenu_25 !important;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
//
// @keyframes submenu_25 {
//   0%{
//     margin-left: -1550px;
//   }
//
//   100%{
//   margin-left: 0px;
//   }
// }

// @keyframes submenu_1 {
//   0%{
//     margin-left: -0px;
//   }
//   100%{
//   margin-left: 2100px;
//   }
// }
//
// .menu_item:hover > .submenu_2{
//   animation-name: submenu;
//   animation-fill-mode: forwards;
//   animation-delay: 0s;
// }
//
//
//
//
// @keyframes submenu {
//   0%{
//     margin-left: -1500px;
//   }
//
//   100%{
//   margin-left: 0px;
//   }
// }









// skewX


// .submenu_2 > li{
//   width: inherit;
//   height: 25%;
//   border: 1px solid black;
//   transform: skewX(55deg);
//   transition: 1s;
// }
//
// .menu_item:hover > .submenu_2{
//   margin-left: 0px;
//   transform: skewX(0deg);
// }
// .menu_item:hover > .submenu_2 > li{
//   transform: skewX(0deg);
// }





// ITEM

.submenu_item{
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.shadow{
  width: inherit;
  height: 100%;
  background-image: url(../img/shadow.png);
  transition: 0.5s;
  position: absolute;
}
.shadow:hover{
opacity: 0;
}

.submenu_item_1{
  background-image: url(../img/food_one.png);
}

.submenu_item_2{
  background-image: url(../img/food_first.png);
}
.submenu_item_3{
  background-image: url(../img/fish_menu.png);
}
.submenu_item_4{
  background-image: url(../img/desert-3.png);
}
