
.drink_line {
  margin-top: 0 !important;
  height: 80px;
  border-bottom: none;
  background-size: 2210px;
  background-position: -762px -580px;
}
.drink_line_text {
  margin-top: -10px;
  font-size: 25pt;
}


.hotdrink_wrap{
  width: 1920px;
  height: 700px;
  border: 1px solid red;
  z-index: 1;
  position: absolute;
  background-image: url(../img/footer.png);
  // overflow: hidden;
}

.hot_main_line{
  // position: absolute;
  // z-index: 1000;
  width: 1920px;
  height: 210px;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hot_drink_menu_box{
  box-sizing: border-box;
  width: 33%;
  height: inherit;
  border: 1px solid black;
}
.menu_box{
  background-image: url(../img/vine.png);
  background-size: cover;
  background-position: 0 -50px;
}

.hot_drink_menu_text{
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat-Light';
  text-align: center;
  padding-top: 60px;
  font-size: 51pt;
  width: 100%;
  height: inherit;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }
}

.hot_drink_menu_text:hover>.hot_menu_item{
  margin-left: 0px;
}




.hot_menu_item{
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  margin-left: -650px;
  transition: 1s;
    z-index: 1000;
  &:hover>.hot_main_img{
    opacity: 1;
  }
}

.item_text{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: 'Montserrat-ExtraLight';
  font-size: 41pt;
  padding-top: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }
}


.top_item{
margin-top: 85px;
}

.hot_main_img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 400px;
  background: red;
  margin-left: -4px;
  opacity: 0;
  transition: 1s;
  background-size: cover;
  background-position: 0 -220px;
}
.img_1{
  margin-top: -100px;
  background-image: url(../img/wine_1.jpeg);
}
.img_2{
  margin-top: -200px;
  background-image: url(../img/wine_2.jpeg);
}
.img_3{
  margin-top: -300px;
  background-image: url(../img/wine_3.jpeg);
}
.img_4{
  margin-top: -400px;
  background-image: url(../img/wine_4.jpeg);
}


.hot_clear{
  height: 1px;
}

// ITEM IMG
.item_delay_2{
  transition-delay: .2s;
}
.item_delay_3{
  transition-delay: .4s;
}
.item_delay_4{
  transition-delay: .6s;
}
// ITEM IMG


// MENU_425

.hot_menu_425{
  display: none;
  @media screen and (max-width: 425px){
    display: block;
  }
}

.hot_menu_425_box{
  position: absolute;
  width: 425px;
  height: 425px;
}

.hot_menu_box{
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-family: 'Montserrat-ExtraLight';
  font-size: 21pt;
  color: white;
  background-size: cover;
  background-position: center;
}
.hot_menu_box > p{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 85px;
  box-sizing: border-box;
  transition: 0.5s;
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }
}

.menu_425_first{
background-image: url(../img/vine.png);
border-top: 5px solid red;
border-bottom: 2px solid red;
border-right: 2px solid red;
}
.menu_425_second{
  background-image: url(../img/ginnes.png);
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-top: 5px solid red;
}
.menu_425_third{
  background-image: url(../img/visky.png);
  border-right: 2px solid red;
  border-top: 2px solid red;
}
.menu_425_fourth{
  background-image: url(../img/rom.png);
  border-left: 2px solid red;
  border-top: 2px solid red;
}
