@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

   @font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
  border: 1px solid red;
}

  a{
  	text-decoration: none;
  	color: white;
  }


//


  @import "header";
  @import "menu";
  @import "animation_menu";
  @import "first_slider";
  @import "second_slider";
  @import "third_slider";
  @import "drink_menu";


  @mixin bold_text {
    font-family: 'Gilroyextrabold';
    font-size: 60pt;
    color: black;
  }

  @mixin light_text {
    font-family: 'Gilroylight';
    font-size: 60pt;
    color: black;
  }
  @mixin br {
    border: 1px solid black
  }
  @mixin button {
    font-family: 'Gilroylight';
    font-weight: 700;
    width: 240px;
    height: 45px;
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #000;
    outline: 0;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.5s
  }
